<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="to.msn.wings.mtss">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mode_Select"></activity>

        <activity android:name=".Model_All"></activity>

        <activity android:name=".Model_Back_All"></activity>

        <activity android:name=".Mode_Leg"></activity>

        <activity android:name=".Mode_Arm"></activity>

        <activity android:name=".Mode_Body"></activity>

        <activity android:name=".Mode_Back"></activity>

        <activity android:name=".Original_menu"></activity>



    </application>

</manifest>